<div class="container">

    <div class="jumbotron">
        <div class="container header text-center">
            <h1>Toujours Belle</h1>
            <h2>We Know What`s Best For You</h2>
            <div>


                <h1>Hello{{" " + admin.fname + " " + admin.lname}}</h1>

            </div>
        </div>
        <div class="row">

            <div style="margin-bottom: 1em; display: block;" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <table class="table ">
                    <tr>
                        <th ng-click="sortBy( 'index') ">Number</th>
                        <th ng-click="sortBy( 'fname') ">First Name</th>
                        <th ng-click="sortBy( 'lname') ">Last Name</th>
                        <th ng-click="sortBy( 'telephone') ">Telephone:</th>
                        <th ng-click="sortBy( 'username') ">User Name</th>
                        <th ng-click="sortBy( 'password') ">Password</th>



                    </tr>


                    <tr ng-repeat="guest in guests | filter : query | orderBy : orderProp">

                        <td>{{ $index + 1 }}</td>
                        <td>{{guest.fname}}</td>
                        <td>{{guest.lname}}</td>
                        <td>{{guest.telephone}}</td>
                        <td>{{guest.username}}</td>
                        <td>{{guest.password}}</td>

                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>